/*
 colors:

 deep gold: #C0923A 
light gold: #B79349
lighter gold : #9e987e
deep blue: #3F3F95 
 light blue : #414295

*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'exo', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  background-image:
    linear-gradient(to right, rgb(63, 63, 149, 0.8), #9e987e),
    url(../img/hero\ 3.jpg);

  background-size: cover;
  background-position: top;


}